/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    color: #818181;
    display: block;
    transition: 0.8s;

}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #ffa500;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 42px;
    margin-left: 50px;
}

/* The sub navigation menu */
.subnav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.subnav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    color: #818181;
    display: block;
    transition: 0.8s;

}

/* When you mouse over the navigation links, change their color */
.subnav a:hover, .offcanvas a:focus{
    color: #ffa500;
}

/* Position and style the close button (top right corner) */
.subnav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 42px;
    margin-left: 50px;
}

#nav_arrow {
  height: 45px;
  width: 45px;
  margin-left: 10px;
  margin-top: 15px;
}

#current a{
  color: #888888;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding-left: 80px;
    padding-right: 120px;
    margin: 0 auto;
}

#main h1{
  font-family: 'Raleway', sans-serif;
  font-size: 48px;
}


#main h3{
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  color: #AD0000;
}

#main p{
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 100px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    #nav_arrow {width: 90px;height:90px;}
    #main {padding-left: 90px; padding-right:80px;}

    #main h1{
      font-family: 'Raleway', sans-serif;
      font-size: 64px;
    }

    #main h3{
      font-family: 'Raleway', sans-serif;
      font-size: 40px;
      color: #AD0000;
    }

    /* The navigation menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 64px;
        font-family: 'Raleway', sans-serif;
        color: #818181;
        display: block;
        transition: 0.8s;

    }

    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover, .offcanvas a:focus{
        color: #ffa500;
    }

    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 42px;
        margin-left: 50px;
    }


    /* When you mouse over the navigation links, change their color */
    .subnav a:hover, .offcanvas a:focus{
        color: #ffa500;
    }

    /* Position and style the close button (top right corner) */
    .subnav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 42px;
        margin-left: 50px;
    }

}
