/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    color: #818181;
    display: block;
    transition: 0.8s;

}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #ffa500;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 42px;
    margin-left: 50px;
}

/* The development sub navigation menu */
.subnav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.subnav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    color: #818181;
    display: block;
    transition: 0.8s;

}

/* When you mouse over the navigation links, change their color */
.subnav a:hover, .offcanvas a:focus{
    color: #ffa500;
}

/* Position and style the close button (top right corner) */
.subnav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 42px;
    margin-left: 50px;
}

/* The network sub navigation menu */
.subnetnav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.subnetnav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    color: #818181;
    display: block;
    transition: 0.8s;

}

/* When you mouse over the navigation links, change their color */
.subnetnav a:hover, .offcanvas a:focus{
    color: #ffa500;
}

/* Position and style the close button (top right corner) */
.subnetnav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 42px;
    margin-left: 50px;
}

.backbtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 10px;
  margin-left: 60px;
  margin-top: 10px;
}

#nav_arrow {
  height: 45px;
  width: 45px;
  margin-left: 10px;
  margin-top: 15px;
}

#current a{
  color: #888888;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding-left: 80px;
    padding-right: 120px;
    margin: 0 auto;
}

#main h1{
  font-family: 'Raleway', sans-serif;
  font-size: 48px;
}


#main h3{
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  color: #AD0000;
}

.middle-text h3{
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  color: #AD0000;
}

.middle-text p{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: black;
}

.contact-list a{
  text-decoration: none;
  color: #AD0000;
}

.doclink {
  text-decoration: none;
  color: #AD0000;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

#main p{
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}


#linkedin {
  margin-top: -89px;
  margin-left: 275px;
  height: 60px;
  width: 60px;
  position: absolute;
  border: solid 2px #5c4f4f;
  border-radius: 10px;
}

#contact {
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
}

#contact input {
  margin-bottom: 12px;
  padding: 6px;
}

#contact input[type="text"]{
  width: 325px;
  height: 34px;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;


}

#contact input[type="email"]{
  width: 325px;
  height: 34px;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;

}

#contact input[type="phone"]{
  width: 325px;
  height: 34px;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;

}


#contact input:focus[type="text"]{
  width: 325px;
  height: 34px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: blue;
  outline: none;

}

#contact input:focus[type="email"]{
  width: 325px;
  height: 34px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: blue;
  outline:none;
}

#contact input:focus[type="phone"]{
  width: 325px;
  height: 34px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: blue;
  outline:none
}

.textarea {
  width: 325px;
  height: 180px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.networkfigure {
  min-width: 720px;
  max-width: 720px;
  border:3px solid #5c4f4f;
  margin-left: -40px;
}

.caption {
  margin-top: 8px;
  margin-left: -40px;
  font-family: 'Open Sans', sans-serif;
  max-width: 720px;
  margin-right: -400px;
  font-size: 16px;
}

#submit-button {
 width: 80px;
 margin-left: 20px;
 font-size: 20px;

}

h4 {
  font-size: 18px;
  margin-top: -20px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 100px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    #nav_arrow {width: 90px;height:90px;}
    #main {padding-left: 90px; padding-right:80px;}

    #main h1{
      font-family: 'Raleway', sans-serif;
      font-size: 64px;
    }

    #main h3{
      font-family: 'Raleway', sans-serif;
      font-size: 40px;
      color: #AD0000;
    }

    /* The navigation menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 64px;
        font-family: 'Raleway', sans-serif;
        color: #818181;
        display: block;
        transition: 0.8s;

    }

    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover, .offcanvas a:focus{
        color: #ffa500;
    }

    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 42px;
        margin-left: 50px;
    }


    /* When you mouse over the navigation links, change their color */
    .subnav a:hover, .offcanvas a:focus{
        color: #ffa500;
    }

    /* Position and style the close button (top right corner) */
    .subnav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 42px;
        margin-left: 50px;
    }

    .networkfigure {
      max-width: 320px;
      min-width: 320px;
    }

    .caption {
      margin-top: 8px;
      margin-left: -40px;
      font-family: 'Open Sans', sans-serif;
      max-width: 320px;
    }

}
